html, body {
  font-family: 'Glory', sans-serif;
  color: rgb(95, 95, 95);
}

h1 {
  text-align: center;
}

details > summary {
  padding: 1rem;
  list-style: none;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

details:hover > summary {
  background-color: rgb(238, 238, 238);
}

details > summary::-webkit-details-marker {
  display: none;
}

details:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

details[open] > summary {
  border-left: 4px solid red;
  padding-bottom: 1rem;
}

details > summary::after {
  content: '';
  background-image: url('./plus.svg');
  width: 24px;
  height: 24px;
}

details[open] > summary::after {
  background-image: url('./substract.svg');
}

ul {
  list-style-type: none;
  line-height: 1.5;
}